/* NOTE! Please consider providing your own font URL as there is no guarantee
         that https://bitmaster.se will provide this font forever. */
@font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("https://bitmaster.se/fonts/Lora/Lora-Regular-Mini.woff") format("woff");
}
@font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("https://bitmaster.se/fonts/Lora/Lora-SemiBold-Mini.woff") format("woff");
}
@font-face {
    font-family: "Lora";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("https://bitmaster.se/fonts/Lora/Lora-Italic-Mini.woff") format("woff");
}
@font-face {
    font-family: "Lora";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("https://bitmaster.se/fonts/Lora/Lora-SemiBoldItalic-Mini.woff") format("woff");
}
@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("https://bitmaster.se/fonts/Inconsolata/Inconsolata-Regular-Mini.woff") format("woff");
}
@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("https://bitmaster.se/fonts/Inconsolata/Inconsolata-SemiBold-Mini.woff") format("woff");
}

body {
    font-family: Lora, serif;
}
tt, code, pre {
    font-family: Inconsolata, monospace;
    font-size: 100%; /* Different monospace fonts vary in size in relation to the serif font! */
}
.todo, .done, .priority, .tag {
    font-family: Inconsolata, monospace;
}
